.wrapper {
    background-color: rgba(5, 0, 31, 0.925);
    width: 140px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    border-radius: 15px;
    // border: 3px solid;
    cursor: pointer;
    .skill-name {
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
    }
    .skill-image-wrapper {
        width: 90%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .skill-image {
        width: 35%;
    }
}
.isActive {
    border: 3px solid;
    border-color: aqua;
}
.PopperWrapper-boxshadow {
    box-shadow: rgba(10, 10, 10, 0.24) 0px 2px 12px;
}
