.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.skill-type {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .skill-type__header {
        font-size: 1.7rem;
    }
    .skill-type__list-skills {
        display: flex;
        gap: 20px;
    }
}
