.Modal-project-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 25px;
    overflow-y: auto;
    border-radius: 20px;
    background-color: rgb(231, 227, 227);
}

.Modal-project-video {
    // flex-grow: 1;
    width: 60%;
}
.Modal-project-vid {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Modal-project-details {
    // flex-grow: 1;
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    .Modal-project-time,
    .Modal-project-tools {
        font-size: 2rem;
        font-weight: 500;
    }
    .Modal-project-intro {
        font-size: 1.75rem;
        line-height: 1.5;
        font-weight: 500;
    }
    .Modal-project-time {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Modal-project-btn {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
    }
    .Modal-project-subheader {
        font-weight: 700;
    }
}

.Modal-project-header {
    font-size: 3.5rem;
}
